---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro'

const metadata = {
  title: 'Falla Passeig | Tavernes de la Valldigna',
  ignoreTitleTemplate: true,
};
---
<Layout metadata={metadata}>

  <!-- Features Widget *************** -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Llibret 2024',
        href: 'llibret-2024',  // FIXME change target url
        // target: '_blank',
        icon: 'tabler:pdf',
      },
    ]}
    image={{ src: '~/assets/images/representants.jpg', alt: 'Falla Passeig' }}
  >

    <Fragment slot="title">
      <span class="hidden xl:inline">Falla Passeig</span> de <span class="text-accent dark:text-white highlight">Tavernes de la Valldigna</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        La comissió Passeig és una associació fallera de la localitat valenciana de Tavernes de la Valldigna. Va ser fundada l'any 1984 i va enguany, el 2024, celebra el seu quaranta aniversari. Actualment, té una comissió de 410 fallers i falleres.
        <br />
        <br />
        </span>
      <span class="hidden sm:inline">
El nom de la comissió fa referència al lloc on ha plantat sempre les seues falles, al Passeig País Valencià, situat al centre de la població. No obstant això, el seu casal es troba al Carrer Nou.
        </span>
    </Fragment>
  </Hero>

</Layout>
